.hola {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.caja {
  /* background-color: aqua; */
  width: 800px;
  height: auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 6px 16px rgba(0, 0, 0, 0.9);
}

.texto {
  font-size: 18px;
  margin-top: 150px;
}