.contenedor {
  margin-top: 20px;
  margin-left: 140px;
  width: 80%;
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 6px 16px rgba(0, 0, 0, 0.9);
}

.parrafo {
  margin-left: 5px;
  font-size: 19px;

}